# SPDX-FileCopyrightText: Copyright (c) 2026, NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

# Default ownership for repository files.
* @nvidia/nat-developers

# Project configurations and lockfiles require dependency approver review.
Cargo.toml @nvidia/nat-dep-approvers
Cargo.lock @nvidia/nat-dep-approvers

pyproject.toml @nvidia/nat-dep-approvers
uv.lock @nvidia/nat-dep-approvers

package.json @nvidia/nat-dep-approvers
package-lock.json @nvidia/nat-dep-approvers
