# SPDX-FileCopyrightText: Copyright (c) 2026, NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0

# Default ownership for repository files.
* @nvidia/nat-developers

# Attribution files require dependency approver review due to change in version(s)
ATTRIBUTIONS-*.md @nvidia/nat-dep-approvers

# Documentation changes must go to technical writers and NAT developers.
docs/ @lvojtku @nvidia/NAT-developers
fern/ @lvojtku @nvidia/NAT-developers
